.Upcoming-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.discover-upcoming{
    font-size: 20px;
    font-weight: 700;
margin-top: 20px;
margin-bottom: 10px;

}
.Choose-discription{
    margin-top: 20px;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.upcoming-images{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming-images-2{
margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    /* background:red; */
    height: 100%;
    
}
.upcoming-images-3{
    display: flex;
    flex-direction: column  ;
}
.try {
    display: flex;
    height: 52vh; 
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 80%;
    background: url(../../images/image_3.jpg);
    background-size: cover; /* Ensure background covers the entire container */
}

.try-text
{
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    background:"red"; width:"50%"; padding:"30px";
}
.image{
    height: 25vh; 
    margin-bottom: 20px;
    width: 80vh;
    background: url(../../images/image.jpg) !important;
}
.image2{
    margin-bottom: 0px;

    background: url(../../images/image_2.jpg) !important;
}
.try-text-image{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    background:"red"; width:"50%"; padding:"30px";
}

@media screen and (max-width: 1080px){
    .upcoming_image{
        height: 25px;
    }
    .Choose-discription{
        width: 90%;
        font-size: 18px;
    }
    .upcoming-images, .upcoming-images-2{
        flex-direction: column;
    }
    .images-center{
        width: 100%;
    }
   .try{
    width: 100%;
    margin: 0;
   }
  .upcoming-images-3, .upcoming-images-2{
    width: 100%;
  }
  .try-text, .try-text-image{
    margin-left: 10px;
  }
  .try-text{
    font-size: 35px;
  }

}
