.main-footer {
    padding: 30px;
    background: url("../../images/bg_image.jpg");
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Ensure background covers the entire container */
    margin-top: 200px;
}

.footer-description{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around   ;
    width: 100%;
}
.discription{
  color: #fff;
    width: 30%;
}
.margin{
    margin-top: 150px;
}
.social{
    font-size: 30px;
    color:#fff;
    margin-left: 20px ;
}

@media screen and (max-width: 1080px) {
    .footer-description{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 8px;
    }
    .foter-logo{
        height: 50px;
    }
    .discription{
        width: 100%;
        margin: 10px;
    }
    .social{
        margin-top: 10px;
    }
}